server{
    server_name www.{{ item }};
    return 301 $schema://{{ item }}$request_uri;         
}

server{
   server_name {{ item }};
   root /var/www/{{ item }};
   {% if item.php %}
   index index.php index.html;


   location ~ \.php$ { 
       try_files $uri =404;
       fastcgi_pass unix: /run/php/php7.0-fpm.sock;
       fastcgi_index index.php;
       fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
       include fasticgi_params;

   }
   location / {
         try_files $uri/ /index.php?$query_string;
   }
   {% else %}
    index index.html;
   {% endif %}
}


